/* span {
  color: green;
} /*Element selector*/

/* .paragraph {
  color: red;
} Class selector */

/* #header1 {
  color: blue;
} ID Selector */

/* * {
  color: plum;
} Universal Selector */

/* p {
  color: red;
}

.paragraph {
  color: green;
}

#para {
  color: blue;
} */

p {
  color: red;
}
p {
  color: green;
}
